*{
    margin: 0px;
    padding: 0px;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(home.jpg);
    height: 100vh;
    background-size: cover;
    background-position: auto;
    background-color: white;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-right: 10px;
}

.main-nav li{
    display: inline-block;
}

.main-nav li a{
    color: white;
    text-decoration: aquamarine;
    padding: 5px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.main-nav li.active a{
    border: 1px solid aqua;
    color: aqua;
    font-size: 40px;
}

.main-nav li a:hover{
    border: 1px solid aqua;
    color: aqua;
    font-size: 40px;
    transition: all 2s;
}

.logo img{
    width: 150px;
    height: auto;
    float: left;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.row{
    max-width: 1500px;
    margin: auto;
}

.epic{
    position: absolute;
    width: 1200px;
    margin-left: 200px;
    margin-top: 0px;
}

h1{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
    margin-left: 50px;
}

.button{
    margin-top: 80px;
    margin-left: 450px;

}


.btn{
    border: 1px solid white;
    padding: 5px 20px;
    color: white;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

.btn-primary{
    position: relative;
    margin-left: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-primary:hover
{
    background-color: aqua;
    transition: all 2s;
}

.form-group{
    padding: 10px 40px;
    height: 30px;
}

.add{
    border:1px solid white;
    width: 250px;
    float: left;
    position: relative;
    margin-top:200px;
    margin-left: -50px;
}

.rent{
    border:1px solid white;
    width: 250px;
    float: left;
    position: relative;
    margin-top: 350px;
    margin-left: 50px;
}

.return{
    border:1px solid white;
    width:250px;
    float: left;
    margin-left: -250px;
    margin-top: 200px;
}

.text{
    font-size: 25px;
    color: white;
}

.rent1{
    color:aqua;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

.return1{
    color:aqua;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}